@white: #ffffff;
@book-btn: #7A7363;
@footer-bcg: #D2CCBE;
@non-active-btn: #E8E6E6;
@main-text: #414141;

.font(@font-family, @font-style, @font-weight, @font-size, @line-height, @color) {
    font-family: @font-family;
    font-style: @font-style;
    font-weight: @font-weight;
    font-size: @font-size;
    line-height: @line-height;
    color: @color;
}

header {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    background-color: @white;
    box-shadow: 0px 4px 5px rgba(122, 115, 99, 0.05);
    & .header-wrap {
        width: 89%;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
    }
}
.title {
    width: 10%;
    padding-top: 32px;
    padding-bottom: 34px;
    & p:first-of-type {
        .font('Montserrat', normal, 700, 21px, 26px, @main-text);
    }
    & p {
        .font('Montserrat', normal, 500, 16px, 20px, @book-btn);
    }
}
nav {
    width: 45%;
    padding-top: 46px;
    padding-bottom: 45px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    .font('Open Sans', normal, normal, 14px, 19px, @main-text);
    text-transform: uppercase;
    & a {
        color: @main-text;
        text-decoration: none;
    }
}
.phone-number {
    width: 8%;
    .font('Roboto', normal, bold, 14px, 16px, @main-text);
    padding-top: 48px;
    padding-bottom: 46px;
}
.head-block {
    background-image: url('assets/images/buggy.jpg');
    background-size: cover;
    text-align: center;
    & h1 {
        .font('Open Sans', normal, 800, 70px, 95px, @white);
        letter-spacing: 0.06em;
        padding: 213px 0 35px 0;
    }
    & button {
        width: 14%;
        border: none;
        background-color: @white;
        height: 45px;
        margin-bottom: 272px;
        & a {
            text-decoration: none;
            .font('Roboto', normal, 500, 18px, 21px, @book-btn);
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }
        &:hover {
            background-color: @book-btn;
            & a {
                color: @white;
            }
        }
    }
    & img {
        vertical-align: middle;
        margin-left: 5px;
        margin-bottom: 3px;
    }
}
.popular-tours {
    padding-top: 50px;
    & .line::after {
        content: '';
        display: block;
        height: 1px;
        background: @non-active-btn;
        margin-bottom: 20px;
    }
    & section {
        display: flex;
        width: 79%;
        margin: auto;
        justify-content: space-between;
    }
    & section:first-of-type {
        padding: 0;
    }
    & .about-of-tour {
        width: 57%;
        & p {
            .font('Open Sans', normal, normal, 16px, 21px, @main-text);
            letter-spacing: 0.03em;
            padding: 15px 0 30px 0;
        }
        & ul {
            display: flex;
            width: 65%;
            justify-content: space-between;
            & p {
                padding: 0;
                margin: 5px 0 0 10px;
            }
            & li {
                display: flex;
            }
        }
    }
    & .btns {
        width: 14%;
        & .read-more-btn {
            width: 100%;
            border: 1px solid @book-btn;
            background-color: @white;
            box-sizing: border-box;
            .font('Roboto', normal, 500, 18px, 21px, @book-btn);
            text-transform: uppercase;
            height: 45px;
            margin: 31px 0 28px 0;
        }
        & .book-now-btn {
            width: 100%;
            background-color: @book-btn;
            border: none;
            height: 45px;
            margin-bottom: 60px;
            & a {
                .font('Roboto', normal, 500, 18px, 21px, @white);
                letter-spacing: 0.03em;
                text-transform: uppercase;
                text-decoration: none;
            }
            &:hover {
                background-color: @white;
                border: 1px solid @book-btn;
                & a {
                    color: @book-btn;
                }
            }
        }
    }
}
.h2 {
    .font('Open Sans', normal, bold, 38px, 52px, @main-text);
    padding-bottom: 50px;
    text-align: center;
}
h3 {
    .font('Roboto', normal, 500, 25px, 29px, @main-text);
    letter-spacing: 0.05em;
}
.see-all {
    background-color: @non-active-btn;
    & h2 {
        padding: 0;
        color: @book-btn;
        text-transform: uppercase;
        padding: 15px 0;
        & a {
            text-decoration: none;
            color: @book-btn;
    }
    }
    &:hover {
        background-color: #D2CCBE;
        & h2 {
            color: @white;
            & a {
                color: @white;
            }
        }
    }
}
.reviews {
    & h2 {
        .font('Roboto', normal, 500, 38px, 45px, @main-text);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-family: sans-serif;
        text-align: center;
        padding: 80px 0 0 0;
    }
    & .swiper {
        padding-bottom: 36px;
        padding-top: 38px;
    }
    & .swiper-button-prev {
        left: 300px;
        top: 260px;
        color: @footer-bcg;
    }
    & .swiper-button-next {
        right: 300px;
        top: 260px;
        color: #D2CCBE;
    }
    & .swiper-pagination {
        .font('Roboto', normal, bold, 30px, 35px, @book-btn);
        letter-spacing: 0.05em;
        opacity: 0.5;
        position: absolute;
        top: 20%;
        left: 25%;
        z-index: -1;
        width: 55px;
        height: 53px;
    }
    & .swiper-pagination-current {
        position: absolute;
        top: -45%;
    }
    & .swiper-slide-prev {
        bottom: 50px;
        transform: none;
        opacity: 0.6;
    }
    & .swiper-slide-next {
        bottom: 50px;
        opacity: 0.6;
    }
    & .swiper-pagination-total {
        position: absolute;
        top: 20%;
        right: 10%;
    }
    & .swiper-slide {
        display: flex;
        width: 43%;
        background-color: @footer-bcg;
        & h4 {
            .font('Open Sans', normal, 600, 18px, 25px, @main-text);
            padding: 20px 0 12px 0;
        }
        & p {
            .font('Open Sans', normal, normal, 16px, 21px, @main-text);
        }
        & div {
            padding-left: 20px;
        }
    }
}
.pre-footer {
    display: flex;
    padding-top: 50px;
    & .back {
        background-image: url(assets/images/buggy-opacity.jpg);
        width: 29%;
        & div {
            padding: 40px 0 0 80px;
        }
        & p:first-of-type {
            .font('Open Sans', normal, 600, 18px, 25px, @white);
            letter-spacing: 0.06em;
            padding-bottom: 15px;
        }
        & .small-text {
            .font('Open Sans', normal, normal, 14px, 19px, @white);
        }
        & .phone-pre-footer {
            .font('Roboto', normal, 500, 25px, 29px, @white);
            letter-spacing: 0.05em;
        }
        & .first {
            padding-top: 25px;
        }
        & .second {
            padding-bottom: 25px;
        }
        & i {
            padding: 53px 0 39px 0;
            color: @white;
            &:first-of-type {
                margin-right: 20px;
            }
        }
    }
}
footer {
    background-color: @footer-bcg;
    & .footer-wrap {
        display: flex;
        flex-direction: row;
        width: 89%;
        margin: auto;
        justify-content: space-between;
        & li {
            .font('Open Sans', normal, normal, 12px, 16px, @main-text);
        }
    }
}
// excursions site
.tabs{
    display: flex;
    & li {
        width: 50%;
        text-align: center;
        padding: 15px 0;
        background-color: @non-active-btn;
        & a {
            .font('Open Sans', normal, bold, 38px, 52px, @book-btn);
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-decoration: none;
        }   
        &:hover {
            background-color: #D2CCBE;
            & a {
                color: @white;
                cursor: pointer;
            }
        }
    }
    & .active {
        background-color: @white;
        z-index: -1;
        & a {
            color: @main-text;
        } 
    }
}
.tabs-panel {
    display: none;
}
   
.tabs-panel.active {
    display: block;
}
// books site
.btn-back {
    width: 89%;
    margin: 25px auto 50px auto;
    & a {
        .font('Open Sans', normal, normal, 16px, 21px, @main-text);
        letter-spacing: 0.03;
        opacity: 0.5;
        text-decoration: none;
    }
}
.book-site {
    display: flex;
    width: 79%;
    margin: auto;
    justify-content: space-between;
    & .calendar {
        width: 67%;
        & .select-date {
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            & p {
                margin: auto 0;
                .font('Open Sans', normal, normal, 16px, 21px, @main-text);
                opacity: 0.5;
                letter-spacing: 0.03em;
            }
        }
        & section {
            display: flex;
            justify-content: space-between;
            & input {
                width: 28%;
                .font('Open Sans', normal, normal, 16px, 21px, @main-text);
            }
            & #btns {
                width: 9%;
                & button {
                    height: 43px;
                    background: @non-active-btn;
                    border: none;
                    color: #3A3A3A;
                    padding: 10px;
                    &:hover {
                        background: @footer-bcg;
                        cursor: pointer;
                    }
                }
            }
            & p {
                .font('Open Sans', normal, normal, 16px, 21px, @book-btn);
                letter-spacing: 0.03;
                margin: auto 0;
            }
        }
        & ul {
            display: flex;
            justify-content: space-between;
            & li {
                width: 11%;
                text-align: center;
                & h2 {
                    .font('Open Sans', normal, bold, 38px, 52px, @book-btn);
                    letter-spacing: 0.05em;
                }
                & p {
                    .font('Open Sans', normal, 600, 20px, 27px, @main-text);
                    letter-spacing: 0.06em;
                    opacity: 0.5;
                }
            }
        }
        & .dates {
            padding: 40px 0 15px 0;
        }
        & .line::after {
            content: '';
            display: block;
            height: 1px;
            background: @non-active-btn;
        }
        & .clock-btns {
            padding-top: 20px;
            padding-bottom: 10px;
            & button {
                height: 34px;
                margin-bottom: 20px;
                .font('Open Sans', normal, normal, 16px, 21px, @main-text);
                letter-spacing: 0.03em;
                border: 1px solid #D2CCBE;
                box-sizing: border-box;
                background: @white;
                &:hover {
                    background: @footer-bcg;
                    cursor: pointer;
                }
            }
        }
    }
}
.car-book-wrap {
    width: 29%;
    & .car-book {
        margin: 79px 0 30px 0;
        background: @non-active-btn;
        opacity: 0.5;
        border: 1px solid @non-active-btn;
        box-sizing: border-box;
    }
    & h3 {
        width: 86%;
        margin: 20px 26px 32px 20px
    }
    & ul {
        display: flex;
        justify-content: space-between;
        margin: 32px 0 21px 0;
        .font('Open Sans', normal, normal, 16px, 21px, @main-text);
        letter-spacing: 0.03em;
        padding-left: 20px;
        & li {
            display: flex;
            margin: auto 0;
            & p {
                margin: auto;
            }
            & i {
                padding-right: 10px;
            }
            & i:last-child {
                padding-right: 0px;
            }
        }
    }
    & button {
        width: 47%;
        border: 1px solid @book-btn;
        box-sizing: border-box;
        background: @white;
        .font('Roboto', normal, 500, 18px, 21px, @book-btn);
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        padding: 12px 0;
        margin-top: 42px;
        & a {
            color: @book-btn;
            text-decoration: none;
        }
        &:hover {
            background: @footer-bcg;
            cursor: pointer;
        }
    }
}
.book-site-2 {
    display: flex;
    width: 79%;
    margin: auto;
    justify-content: space-between;
    & .inputs-list {
        width: 67%;
        & #add-info {
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                & p {
                    margin: auto 0;
                    .font('Open Sans', normal, normal, 16px, 21px, @main-text);
                    opacity: 0.5;
                    letter-spacing: 0.03em;
                }
        }
        & .inputs-and-labels {
            width: 85%;
            & .privacy-data {
                & label {
                    .font('Open Sans', normal, 600, 18px, 25px, @main-text);
                    letter-spacing: 0.06em;
                }
                & input {
                    width: 100%;
                    margin: 12px 0 20px 0;
                    .font('Open Sans', normal, normal, 16px, 21px, @main-text);
                    opacity: 0.5;
                    border: 1px solid @book-btn;
                    box-sizing: border-box;
                }
            }
            & .checkboxes {
                width: 48%;
                .font('Open Sans', normal, normal, 14px, 19px, @main-text);
                & input {
                    opacity: 0.5;
                    border: 1px solid @book-btn;
                    box-sizing: border-box;
                }
            }
        }
    }
}