header {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgba(122, 115, 99, 0.05);
}
header .header-wrap {
  width: 89%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}
.title {
  width: 10%;
  padding-top: 32px;
  padding-bottom: 34px;
}
.title p:first-of-type {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #414141;
}
.title p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #7A7363;
}
nav {
  width: 45%;
  padding-top: 46px;
  padding-bottom: 45px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #414141;
  text-transform: uppercase;
}
nav ul a {
  color: #414141;
  text-decoration: none;
}
.phone-number {
  width: 8%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #414141;
  padding-top: 48px;
  padding-bottom: 46px;
}
.head-block {
  background-image: url('assets/images/buggy.jpg');
  background-size: cover;
  text-align: center;
}
.head-block h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 95px;
  color: #ffffff;
  letter-spacing: 0.06em;
  padding: 213px 0 35px 0;
}
.head-block button {
  width: 14%;
  border: none;
  background-color: #ffffff;
  height: 45px;
  margin-bottom: 272px;
}
.head-block button a {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7A7363;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.head-block button:hover {
  background-color: #7A7363;
}
.head-block button:hover a {
  color: #ffffff;
}
.head-block img {
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 3px;
}
.popular-tours {
  padding-top: 50px;
}
.popular-tours .line::after {
  content: '';
  display: block;
  height: 1px;
  background: #E8E6E6;
  margin-bottom: 20px;
}
.popular-tours section {
  display: flex;
  width: 79%;
  margin: auto;
  justify-content: space-between;
}
.popular-tours section:first-of-type {
  padding: 0;
}
.popular-tours .about-of-tour {
  width: 57%;
}
.popular-tours .about-of-tour p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  letter-spacing: 0.03em;
  padding: 15px 0 30px 0;
}
.popular-tours .about-of-tour ul {
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.popular-tours .about-of-tour ul p {
  padding: 0;
  margin: 5px 0 0 10px;
}
.popular-tours .about-of-tour ul li {
  display: flex;
}
.popular-tours .btns {
  width: 14%;
}
.popular-tours .btns .read-more-btn {
  width: 100%;
  border: 1px solid #7A7363;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7A7363;
  text-transform: uppercase;
  height: 45px;
  margin: 31px 0 28px 0;
}
.popular-tours .btns .read-more-btn a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7A7363;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.popular-tours .btns .read-more-btn:hover {
  background-color: #7A7363;
  border: 1px solid #7A7363;
}
.popular-tours .btns .read-more-btn:hover a {
  color: #ffffff;
}
.popular-tours .btns .book-now-btn {
  width: 100%;
  background-color: #7A7363;
  border: none;
  height: 45px;
  margin-bottom: 60px;
}
.popular-tours .btns .book-now-btn a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.popular-tours .btns .book-now-btn:hover {
  background-color: #ffffff;
  border: 1px solid #7A7363;
}
.popular-tours .btns .book-now-btn:hover a {
  color: #7A7363;
}
.h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #414141;
  padding-bottom: 50px;
  text-align: center;
}
h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #414141;
  letter-spacing: 0.05em;
}
.see-all {
  background-color: #E8E6E6;
}
.see-all h2 {
  padding: 0;
  color: #7A7363;
  text-transform: uppercase;
  padding: 15px 0;
}
.see-all h2 a {
  text-decoration: none;
  color: #7A7363;
}
.see-all:hover {
  background-color: #D2CCBE;
}
.see-all:hover h2 {
  color: #ffffff;
}
.see-all:hover h2 a {
  color: #ffffff;
}
.reviews h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  text-align: center;
  padding: 80px 0 0 0;
}
.reviews .swiper {
  padding-bottom: 36px;
  padding-top: 38px;
}
.reviews .swiper-button-prev {
  left: 300px;
  top: 260px;
  color: #D2CCBE;
}
.reviews .swiper-button-next {
  right: 300px;
  top: 260px;
  color: #D2CCBE;
}
.reviews .swiper-pagination {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #7A7363;
  letter-spacing: 0.05em;
  opacity: 0.5;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: -1;
  width: 55px;
  height: 53px;
}
.reviews .swiper-pagination-current {
  position: absolute;
  top: -45%;
}
.reviews .swiper-slide-prev {
  bottom: 50px;
  transform: none;
  opacity: 0.6;
}
.reviews .swiper-slide-next {
  bottom: 50px;
  opacity: 0.6;
}
.reviews .swiper-pagination-total {
  position: absolute;
  top: 20%;
  right: 10%;
}
.reviews .swiper-slide {
  display: flex;
  width: 43%;
  background-color: #D2CCBE;
}
.reviews .swiper-slide h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #414141;
  padding: 20px 0 12px 0;
}
.reviews .swiper-slide p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
}
.reviews .swiper-slide div {
  padding-left: 20px;
}
.pre-footer {
  display: flex;
  padding-top: 50px;
}
.pre-footer .back {
  background-image: url(assets/images/buggy-opacity.jpg);
  width: 29%;
}
.pre-footer .back div {
  padding: 40px 0 0 80px;
}
.pre-footer .back p:first-of-type {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  letter-spacing: 0.06em;
  padding-bottom: 15px;
}
.pre-footer .back .small-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.pre-footer .back .phone-pre-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 0.05em;
}
.pre-footer .back .first {
  padding-top: 25px;
}
.pre-footer .back .second {
  padding-bottom: 25px;
}
.pre-footer .back i {
  padding: 53px 0 39px 0;
  color: #ffffff;
}
.pre-footer .back i:first-of-type {
  margin-right: 20px;
}
footer {
  background-color: #D2CCBE;
}
footer .footer-wrap {
  display: flex;
  flex-direction: row;
  width: 89%;
  margin: auto;
  justify-content: space-between;
}
footer .footer-wrap li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #414141;
}
.tabs {
  display: flex;
}
.tabs li {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  background-color: #E8E6E6;
}
.tabs li a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #7A7363;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
.tabs li:hover {
  background-color: #D2CCBE;
}
.tabs li:hover a {
  color: #ffffff;
  cursor: pointer;
}
.tabs .active {
  background-color: #ffffff;
  z-index: -1;
}
.tabs .active a {
  color: #414141;
}
.tabs-panel {
  display: none;
}
.tabs-panel.active {
  display: block;
}
.btn-back {
  width: 89%;
  margin: 25px auto 50px auto;
}
.btn-back a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  letter-spacing: 0.03;
  opacity: 0.5;
  text-decoration: none;
}
.book-site {
  display: flex;
  width: 79%;
  margin: auto;
  justify-content: space-between;
}
.book-site .calendar {
  width: 67%;
}
.book-site .calendar .select-date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.book-site .calendar .select-date p {
  margin: auto 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  opacity: 0.5;
  letter-spacing: 0.03em;
}
.book-site .calendar section {
  display: flex;
  justify-content: space-between;
}
.book-site .calendar section input {
  width: 28%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
}
.book-site .calendar section #btns {
  width: 9%;
}
.book-site .calendar section #btns button {
  height: 43px;
  background: #E8E6E6;
  border: none;
  color: #3A3A3A;
  padding: 10px;
}
.book-site .calendar section #btns button:hover {
  background: #D2CCBE;
  cursor: pointer;
}
.book-site .calendar section p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #7A7363;
  letter-spacing: 0.03;
  margin: auto 0;
}
.book-site .calendar ul {
  display: flex;
  justify-content: space-between;
}
.book-site .calendar ul li {
  width: 11%;
  text-align: center;
}
.book-site .calendar ul li h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #7A7363;
  letter-spacing: 0.05em;
}
.book-site .calendar ul li p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #414141;
  letter-spacing: 0.06em;
  opacity: 0.5;
}
.book-site .calendar .dates {
  padding: 40px 0 15px 0;
}
.book-site .calendar .line::after {
  content: '';
  display: block;
  height: 1px;
  background: #E8E6E6;
}
.book-site .calendar .clock-btns {
  padding-top: 20px;
  padding-bottom: 10px;
}
.book-site .calendar .clock-btns button {
  height: 34px;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  letter-spacing: 0.03em;
  border: 1px solid #D2CCBE;
  box-sizing: border-box;
  background: #ffffff;
}
.book-site .calendar .clock-btns button:hover {
  background: #D2CCBE;
  cursor: pointer;
}
.car-book-wrap {
  width: 29%;
}
.car-book-wrap .car-book {
  margin: 79px 0 30px 0;
  background: #E8E6E6;
  opacity: 0.5;
  border: 1px solid #E8E6E6;
  box-sizing: border-box;
}
.car-book-wrap h3 {
  width: 86%;
  margin: 20px 26px 32px 20px;
}
.car-book-wrap ul {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 21px 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  letter-spacing: 0.03em;
  padding-left: 20px;
}
.car-book-wrap ul li {
  display: flex;
  margin: auto 0;
}
.car-book-wrap ul li p {
  margin: auto;
}
.car-book-wrap ul li i {
  padding-right: 10px;
}
.car-book-wrap ul li i:last-child {
  padding-right: 0px;
}
.car-book-wrap button {
  width: 47%;
  border: 1px solid #7A7363;
  box-sizing: border-box;
  background: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7A7363;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0;
  margin-top: 42px;
}
.car-book-wrap button a {
  color: #7A7363;
  text-decoration: none;
}
.car-book-wrap button:hover {
  background: #D2CCBE;
  cursor: pointer;
}
.book-site-2 {
  display: flex;
  width: 79%;
  margin: auto;
  justify-content: space-between;
}
.book-site-2 .inputs-list {
  width: 67%;
}
.book-site-2 .inputs-list #add-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.book-site-2 .inputs-list #add-info p {
  margin: auto 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  opacity: 0.5;
  letter-spacing: 0.03em;
}
.book-site-2 .inputs-list .inputs-and-labels {
  width: 85%;
}
.book-site-2 .inputs-list .inputs-and-labels .privacy-data label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #414141;
  letter-spacing: 0.06em;
}
.book-site-2 .inputs-list .inputs-and-labels .privacy-data input {
  width: 100%;
  margin: 12px 0 20px 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  opacity: 0.5;
  border: 1px solid #7A7363;
  box-sizing: border-box;
}
.book-site-2 .inputs-list .inputs-and-labels .checkboxes {
  width: 48%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #414141;
}
.book-site-2 .inputs-list .inputs-and-labels .checkboxes input {
  opacity: 0.5;
  border: 1px solid #7A7363;
  box-sizing: border-box;
}
.card-product-title {
  width: 89%;
  margin: auto;
}
.card-product-title h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #7A7363;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.card-product {
  width: 89%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card-product .left {
  width: 66%;
}
.card-product .left .left-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  position: relative;
  margin-bottom: 10px;
}
.card-product .left .left-image p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  color: #ffffff;
  letter-spacing: 0.05em;
  position: absolute;
  right: 10%;
  bottom: 20%;
}
.card-product .left .left-text h3 {
  padding: 40px 0 20px 0;
}
.card-product .left .left-text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #414141;
  letter-spacing: 0.03em;
}
.card-product .left .left-text button {
  width: 18%;
  background-color: #7A7363;
  border: none;
  height: 45px;
  margin: 50px 0 30px 0;
}
.card-product .left .left-text button a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.card-product .left .left-text button:hover {
  background-color: #ffffff;
  border: 1px solid #7A7363;
}
.card-product .left .left-text button:hover a {
  color: #7A7363;
}
.card-product .right {
  width: 31%;
}
.card-product .right h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #414141;
  letter-spacing: 0.06em;
  padding-bottom: 15px;
}
.card-product .right section {
  display: flex;
}
.card-product .right .about-of-tour p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #414141;
  letter-spacing: 0.06em;
  opacity: 0.8;
  padding: 10px 0 16px 10px;
}
.card-product .right .about-of-tour ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 9px;
}
.card-product .right .about-of-tour ul p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #414141;
  padding: 0;
}
.card-product .right .line::after {
  content: '';
  display: block;
  height: 1px;
  background: #E8E6E6;
  margin: 6px 0 10px 0;
}
.gallery {
  width: 89%;
  margin: auto;
}
.gallery h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 40px 0;
}
.gallery div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery img {
  margin-bottom: 40px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.contacts .texted {
  padding-left: 80px;
}
.contacts .phone-pre-footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #414141;
  letter-spacing: 0.05em;
  padding: 0 0 20px 0;
}
.contacts p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #7A7363;
  letter-spacing: 0.05em;
  padding: 60px 0 40px 0;
}
.contacts .small-text {
  padding: 10px 0 40px 0;
}
